@import "macchiato.css";
/* @import "mocha.css"; */

* {
    font-family: "OpenSans";
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#waybar {
    background: rgba(103, 103, 103, 0.35);
    color: @text;
}

#workspaces {
    border-radius: 1rem;
    margin: 0 2px;
    background-color: @surface0;
    /* margin-left: 1rem; */
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0 0.4rem;
    padding-right: 1rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-logout,
#cpu,
#memory,
#temperature,
#custom-drawer,
#mpris {
    background-color: @surface0;
    padding: 0 1rem;
    margin: 1px 0;
}

#idle_inhibitor {
    padding: 0 1rem;
    margin: 0.5px 0;
}

#clock {
    color: @blue;
    border-radius: 1rem;
}

#battery {
    color: @green;
    border-radius: 0px 1rem 1rem 0px;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-drawer {
    border-radius: 1rem;
    padding-right: 1.5em;
    margin-left: 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1rem 0 0.8rem;
    color: @red;
}
#custom-logout {
    border-radius: 1rem 0 0 1rem;
    padding: 0 0.8rem 0 1rem;
    color: @peach;
}

#tray {
    /* margin-right: 1rem; */
    border-radius: 1rem;
}

#workspaces,
#custom-power,
#custom-drawer,
#battery,
#cpu {
    font-family: "OpenSans", "FantasqueSansM Nerd Font";
}
