@import "macchiato.css";
/* @import "mocha.css"; */

* {
    /* font-family: Arial; */
    font-size: 12px;
    min-height: 0;
}

#waybar {
    background: rgba(103, 103, 103, 0.35);
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    /* margin-left: 1rem; */
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
    padding-right: 1rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#cpu,
#memory,
#temperature,
#custom-drawer {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock {
    color: @blue;
    border-radius: 1rem;
    margin-right: 1rem;
}

#battery {
    color: @green;
    border-radius: 0px 1rem 1rem 0px;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-drawer {
    border-radius: 1rem;
    padding-right: 1.5em;
    margin-left: 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    color: @red;
}

#tray {
    /* margin-right: 1rem; */
    border-radius: 1rem;
}

#workspaces,
#custom-power,
#custom-drawer {
    font-family: "FantasqueSansM Nerd Font";
}
