@import "macchiato.css";

/* general */

* {
    font-family: "NotoSans", "FantasqueSansM Nerd Font";
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#waybar > .horizontal {
    all: initial;
    margin: 3px 0;
}

*:not(#workspaces):not(.workspace-label):not(button):not(.horizontal) {
    font-size: 12px;
}

#waybar {
    all: initial;
    background: rgba(103, 103, 103, 0.35);
    color: @text;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

/* Workspace switcher*/

#workspaces {
    border-radius: 1rem;
    margin: 1px 1rem;
    background-color: rgba(123, 123, 123, 0.6);
    /* margin-left: 1rem; */
}

#workspaces button {
    border-radius: 10em;
    padding: 0 0.45rem;
    margin: 0.4rem 0.4rem;
    color: transparent;
    background-color: @surface0;
    /*padding-right: 1rem;*/
}

#workspace button box,
.workspace-label,
#workspaces button {
    font-size: 1pt;
}

#workspaces button.active {
    background-color: @lavender;
    padding: 0 1rem;
}

#workspaces button:hover {
    background-color: @sky;
}

#tray,
#clock,
#custom-lock,
#custom-power,
#custom-logout,
#custom-drawer {
    background-color: @surface0;
    padding: 0 1rem;
    margin: 1px 0;
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#battery {
    background-color: @surface0;
    padding: 0 1rem;
    margin: 0;
}

#clock {
    color: @blue;
    border-radius: 1rem;
}

#battery {
    color: @green;
    border-radius: 0px 1rem 1rem 0px;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
    border-radius: 0;
}

#pulseaudio {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
}

#custom-drawer {
    border-radius: 1rem;
    padding-right: 1.5em;
    margin-left: 0.5rem;
    color: @lavender;
}

#custom-power {
    margin-right: 0.5rem;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1rem 0 0.8rem;
    color: @red;
}
#custom-logout {
    border-radius: 1rem 0 0 1rem;
    padding: 0 0.8rem 0 1rem;
    color: @peach;
}

#tray {
    /* margin-right: 1rem; */
    border-radius: 1rem;
}

#workspaces,
#custom-power,
#custom-drawer {
    font-family: "FantasqueSansM Nerd Font";
}

*:not(#workspaces):not(.workspace-label):not(button):not(.horizontal) {
    font-size: 12px;
}
